# conditional statements

- if
- if else
- if-elif-else

# loops

- for
- while

# strings

- declaring a string
- accsessing elements from the string
- string methods

## conditional statements

- controlling the flow of execution

### syntax
```python
if condition:
    block of code
```

```python
if condition:
    block of code
else:
    block of code
```

```python
if conditon:
    block of code
elif condition:
    block of code
else:
    block of code
```

In [9]:
a=5
b=15
if a>b:
    print(a,"is large")
else:
    print(b,"is large")

15 is large

- biggest of 3 numbers

In [10]:
a=5
b=15
c=8
if a>b and a>c:
    print(a,"is large")
elif b>c:
    print(b,"is large")
else:
    print(c,"is large")

15 is large

- check whether the input is even or not

In [11]:
n=int(input("enter a number: "))
if n%2==0:
    print(n,"is even")
else:
    print(n,"is not even")

enter a number: 497626826
497626826 is even

- verify leap year or not

In [13]:
n=int(input("enter a number: "))
if n%4==0:
    print(n,"is leap year")
else:
    print(n,"is not leap year")

enter a number: 2021
2021 is not leap year

In [17]:
n=int(input("enter a number: "))
if n%4==0|n%400==0&n%100!=0:
    print(n,"is leap year")
else:
    print(n,"is not leap year")

enter a number: 2021
2021 is not leap year

**calculator application**
- 2 input nmber
- arithmetic operation

In [63]:
a=int(input("enter number:"))
b=int(input("enter number:"))
arthe=input("what arithmetic i need to perform:")
if arthe=='+':
    print(a+b)
elif arthe=='-':
    print(a-b)
elif arthe=='*':
    print(a*b)
else:
    print("Given arithmetic operation is invalid")

enter number:50
enter number:30
what arithmetic i need to perform:+
80

## loops

### syntax
- for loop
```python
for iterativevariable in groupofdata:
    block of code
```

- while loop -> based on the condition
```python
init
while condition:
    block of code
    inc/dec
```

### GroupOfNumbers

range(init,cond,inc/dec)
range(start,stop,step)

cond -> required arg
init -> 0
inc/dec -> +1/-1

- display 1 to 100 numbers

In [20]:
for i in range(1,101,1):
    print(i,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [21]:
for i in range(1,101):
    print(i,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [22]:
for i in range(101):
    print(i,end='\t')

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [23]:
for i in range(1,101,2):
    print(i,end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

- even numbers between 1 to 1000

In [26]:
for i in range(1,101,4):
    print(i,end='\t')

1	5	9	13	17	21	25	29	33	37	41	45	49	53	57	61	65	69	73	77	81	85	89	93	97

In [27]:
for i in range(1,1001,1):
    if i%2==0:
        print(i,end='\t')

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100	102	104	106	108	110	112	114	116	118	120	122	124	126	128	130	132	134	136	138	140	142	144	146	148	150	152	154	156	158	160	162	164	166	168	170	172	174	176	178	180	182	184	186	188	190	192	194	196	198	200	202	204	206	208	210	212	214	216	218	220	222	224	226	228	230	232	234	236	238	240	242	244	246	248	250	252	254	256	258	260	262	264	266	268	270	272	274	276	278	280	282	284	286	288	290	292	294	296	298	300	302	304	306	308	310	312	314	316	318	320	322	324	326	328	330	332	334	336	338	340	342	344	346	348	350	352	354	356	358	360	362	364	366	368	370	372	374	376	378	380	382	384	386	388	390	392	394	396	398	400	402	404	406	408	410	412	414	416	418	420	422	424	426	428	430	432	434	436	438	440	442	444	446	448	450	452	454	456	458	460	462	464	466	468	470	472	474	476	478	480	482	484	486	488	490	492	494	496	498	500	502	504	506	508	510	512	514	516	518	520	522	524	526	528	530	532	534	536	538	540	542	544	546	548	550	552	554	556	558	560	562	564	566	568	570	572	574	576	578	580	582	584	586	588	590	592	594	596	598	600	602	604	606	608	610	612	614	616	618	620	622	624	626	628	630	632	634	636	638	640	642	644	646	648	650	652	654	656	658	660	662	664	666	668	670	672	674	676	678	680	682	684	686	688	690	692	694	696	698	700	702	704	706	708	710	712	714	716	718	720	722	724	726	728	730	732	734	736	738	740	742	744	746	748	750	752	754	756	758	760	762	764	766	768	770	772	774	776	778	780	782	784	786	788	790	792	794	796	798	800	802	804	806	808	810	812	814	816	818	820	822	824	826	828	830	832	834	836	838	840	842	844	846	848	850	852	854	856	858	860	862	864	866	868	870	872	874	876	878	880	882	884	886	888	890	892	894	896	898	900	902	904	906	908	910	912	914	916	918	920	922	924	926	928	930	932	934	936	938	940	942	944	946	948	950	952	954	956	958	960	962	964	966	968	970	972	974	976	978	980	982	984	986	988	990	992	994	996	998	1000

## while loop

In [28]:
i=1
while i<101:
    print(i,end='\t')
    i+=1

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

- break:to terminate the execution of the loop
- continue:skip the current execution of the loop

print the numbers between 1 to 100 whenevr i reached 50 stop travelling

In [29]:
for travel in range(1,101,1):
    if travel==50:
        break
    print(travel,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49

In [34]:
for travel in range(1,101,1):
    if travel==50:
        break
    elif travel %2==0:
        continue
    print(travel,end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49

In [35]:
while True:
    inp=input()
    if inp=='cancel':
        print("loop terminated")
        break
    print(inp)

kdifhfh
kdifhfh
hiiehf
hiiehf
iwhf
iwhf
iwhfh
iwhfh
cancel
loop terminated

## strings

It is group of data enclosed between "",'',"""",'''' are called strings in python

### properties

- it is inmutable(once string is classified we cannot modify) data type
- it is iterable

In [57]:
s='I am a single line string'
s2="I am also a single line string"
s3='''i am
a multi
line string'''
s4="""i am
a multi
line string"""
s5=123
s6='This means that Jupyter is still running the Kernel. It is possible that you are running an infinite loop within the Kernel and that is why it cannot COMPLETE the execution.'

In [58]:
print(type(s),type(s3),type(s5))

<class 'str'> <class 'str'> <class 'int'>

In [59]:
for char in s4:
    print(char,end='\t')

i	 	a	m
	a	 	m	u	l	t	i
	l	i	n	e	 	s	t	r	i	n	g

In [60]:
for char in s4:
    if char=='a' or char=='e' or char=='i' or char=='o' or char=='u':
        print(char,end='\t')

i	a	a	u	i	i	e	i

In [61]:
print(s6)

This means that Jupyter is still running the Kernel. It is possible that you are running an infinite loop within the Kernel and that is why it cannot COMPLETE the execution.

In [62]:
lo=0
uo=0
c=0
for char in s6:
    if char in'aeiou':
        lo+=1
    elif char in 'AEIOU':
        uo+=1
    else:
        c+=1
print(uo,"upper",lo,"lower",c,"constants")

4 upper 48 lower 121 constants

1. get the leap year between he given range
   - starting range ending range is givwn as input

In [6]:
start=int(input("enter start year:"))
end=int(input("enter end year:"))
if start<=end:
    print("here is aa list of leap years between"+str(start)+"and"+str(end)+":")
    while start<end:
        if start%4==0 and start%100!=0:
            print(start)
        if start%100==0 and start%400==0:
            print(start)
        start+=1

enter start year:2000
enter end year:2100
here is aa list of leap years between2000and2100:
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

2. get the prime numbers betwween the given range

In [10]:
lower=int(input("enter lower range:"))
upper=int(input("enter upper range:"))
for num in range(lower,upper+1):
    if num>1:
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num)

enter lower range:10
enter upper range:50
11
13
17
19
23
29
31
37
41
43
47

3. get n number of fibonacci number

In [11]:
nterms=int(input("how many terms?"))
n1,n2=0,1
count=0
if nterms<=0:
    print("enter positive number")
elif nterms==1:
    print("fibonaccisequence upto",nterms,":")
    print(n1)
else:
    print("fibonacci sequence:")
    while count<nterms:
        print(n1)
        nth=n1+n2
        n1=n2
        n2=nth
        count+=1

how many terms?9
fibonacci sequence:
0
1
1
2
3
5
8
13
21